body {
    font-family: 'PokemonGb';
}

@font-face {
    font-family: 'PokemonGb';
    src: url('./Pokemon_Hollow.ttf') format('ttf');
}

.containerleft {
    margin: 0 0 0 auto;
}
.containerright {
    margin: 0 auto 0 0;
}
.pokemonPosition {
    width: 300px;
    height: 160px;
    margin: 0 auto;
}
progress {
    background: lime;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}
progress::-webkit-progress-value {
    background: lightblue;
}
progress::-moz-progress-bar {
    background: lightcolor;
}
progress::-webkit-progress-value {
    background: lime;
}
progress::-webkit-progress-bar {
    background: gray;
}
.divTable {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 250px;
    margin: 0 auto;
    background-color: white;
    padding: 5px;
}
.pokemonPosition {
    width: 300px;
    height: 160px;
    margin: 0 auto;
}
.pokemonBack {
    margin-top: 50px;
    margin-left: 150px;
    position: relative;
    z-index: 10;
}
.pokemonFront {
    margin-right: 150px;
    position: relative;
    z-index: 10;
}
.divTableRow {
    padding-top: 5px;
}
.divTableCell1 {
    margin-right: 5px;
}
.divTableCell2 {
    margin-left: 5px;
}
.triangle {
    margin-bottom: 362px;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 35px solid white;
    position: absolute;
}
.tableNew {
    margin-top: 20px;
    font-size: 15px;
}
.tableNew, td {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
.detailcontainerNew {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 40px auto 10px auto;
    border: 5px solid white;
    border-radius: 15px;
    border-style: double;
    min-width: 160px;
    width: 200px;
    text-align: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
    text-transform: capitalize;
    height: 300px;
}

.detailcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px auto 10px auto;
    border: 5px solid white;
    border-style: double;
    border-radius: 15px;
    min-width: 160px;
    width: 200px;
    text-align: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
    text-transform: capitalize;
    height: 100px;
}

.detailcontainer:hover .table {
    visibility: visible;
    opacity: 1;
    margin-top: 20px;
    transition: 0.5s ease-in-out;
}
.detailcontainer:hover .detail-wrapper {
    visibility: visible;
    opacity: 1;
    transition: 0.5s ease-in-out;
}
.detailcontainer:hover .position {
    margin-top: 0px;
    transition: 0.5s ease-in-out;
}
.detailcontainer:hover {
    height: 300px;
    transition: 0.5s ease-in-out;
}

.detail-wrapper{
    visibility: hidden;
}

.position{
    margin-top: 175px;
}

.table{
    visibility: hidden;
    font-size: 15px;
}

.divTableCell1{
    width: 100px;
    max-width: 100px;
    text-transform: capitalize;
    background-color: rgb(233, 231, 231);
}

.divTableCell2{
    width: 100px;
    max-width: 100px;
    text-transform: capitalize;
    background-color: rgb(233, 231, 231);
}

.divTableCell1 :hover{
    opacity: 1;
}

.table, td{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(233, 231, 231);
}

.fire {
    background-color: rgb(245, 191, 191);
    background-repeat: repeat;
    background-size: 10px;
    background-position: center;
}
.grass {
    background-color: rgb(177, 238, 177);
}
.water {
    background-color: skyblue;
}
.bug {
    background-color: rgb(78, 180, 78);
}
.normal {
    background-color: tan;
}
.electric {
    background-color: rgb(240, 240, 73);
}
.poison {
    background-color: rgb(155, 76, 155);
    color: white;
}
.ground {
    background-color: rgb(250, 187, 71);
}
.fairy {
    background-color: rgb(236, 115, 232);
}
.fighting {
    background-color: peachpuff;
}
.psychic {
    background-color: rgb(109, 86, 131);
    color: white;
}
.rock {
    background-color: rgb(172, 130, 53);
    color: white;
}
.ghost {
    background-color: rgba(0, 0, 0, 0.300);
}
.ice {
    background-color: rgb(89, 243, 243);
}
.dragon {
    background-color: slategray;
    color: white;
}
.dark {
    background-color: rgb(80, 79, 79);
    color: white;
}
.steel {
    background-color: silver;
}
.flying {
    background-color: antiquewhite;
}
.groundPosition{
    margin-top: 30px;
    margin-left: -290px;
    position: absolute;
    z-index: 1;
}

.groundPosition2{
    margin-top: 80px;
    margin-left: -145px;
    position: absolute;
    z-index: 1;
}