body {
    font-family: 'PokemonGb';
}

@font-face {
    font-family: 'PokemonGb';
    src: url('./Pokemon_Hollow.ttf') format('ttf');
}

.detailcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px auto 10px auto;
    border: 5px solid white;
    border-radius: 5px;
    min-width: 160px;
    width: 200px;
    text-align: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
    text-transform: capitalize;
    background-color: white;
}