.App {
  text-align: center;
}

.container-pokemon{
  border-color: black;
  border-style: solid;
  border-width: 2px;
  text-align: center;
}

.divTable{
  border-color: black;
  border-style: solid;
  border-width: 2px; 
  float: right;
}

.form{
  width: 100%;
}