.App {
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body{
  background-image: url('./poke.jpg');
}

.container-pokemon{
  text-align: center;
  width: 100vw;
  margin: 0 auto;
}

.divTable{
  border-color: black;
  border-style: solid;
  border-width: 2px; 
  width: 250px;
  margin: 0 auto;
  background-color: white;
  padding: 5px
}

.pokemonPos{
  width: 300px;
  height: 160px;
  margin: 0 auto;
}

.pokemonBack{
  margin-top: 50px;
}

.pokemonFront{
  margin-bottom: 50px;
}

.pokemonCard{
  margin: 0 auto;
  margin-top: 25px;
}

form{
  margin: 20px auto 0 auto;
}

.container {
  list-style:none;
  margin: 0;
  padding: 0;
}
.item {
  background: gray;
  padding: 5px;
  width: 200px;
  height: 250px;
  margin: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
}

/*float layout*/
.float {
  max-width: 1200px;
  margin: 0 auto;
}
.float:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.float-item {
  margin: 0 auto;
}

.pokemonInfoIndex{
  height: 50px;
  margin-top: -125px;
}

.pokemonInfoName{
  height: 50px;
}

.pokemonInfoType{
  height: 50px;
}

.headertext{
  text-align: center;
}

.load-more {
  min-width: 20vw;
  background: rgb(196, 196, 196);  border: 1px solid #c6c6c6;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40vw;
  margin-right: 40vw;
}

progress {
  background: lime;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}

progress::-webkit-progress-value {
  background: lightblue;
}

progress::-moz-progress-bar {
  background: lightcolor;
}

progress::-webkit-progress-value {
  background: lime;
}

progress::-webkit-progress-bar {
  background: gray;
}

.containerBattle1{
  margin-left: 300px;
  margin-top: 20px;
}

.containerBattle2{
  margin-top: -264px;
  margin-right: 300px;
}
